
<!DOCTYPE html>
<html lang="en">
<%-include('includes/head.ejs')%>
<link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <%-include('includes/header.ejs')%>
    <div class="main-div">
        <h1>Welcome!</h1>
        <% if(message) { %>
            <p style="color: rgb(233, 233, 233);"><%= message %></p> 
            <% } %>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" value=<%= email %>>

            <label for="password">Password</label>
            <input id="password" name="password" type="password">
            
            <button type="submit">Login</button>
        </form>
        <a href="/signup">Signup instead</a>
    </div>

</body>
</html>